@model DigitAPI.Web.Models.HomeViewModel
@{
    ViewBag.Title = "Digit API";
}

<div>
    <p>ロゴ</p>
    <p>Cognitive Services</p>
</div>
<div>
    <h1>Digit API</h1>
    <p>デモ</p>
    <p>顔を解析してどの数字に似ているかを検出しますが、特になんの役にも立ちません。</p>
</div>
<div>
    <p>API Reference</p>
</div>
<div>
    説明
</div>
<div>
  <div class="demo-image-box">
@if (string.IsNullOrEmpty(Model.ImageUrl) == false) {
<img class="demo-image" alt="" src="@Model.ImageUrl" />
}
  </div>
  <div>
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "demoForm" })) {
    <input name="requestUrl" type="text" value="Image URL" data-defultvalue="Image URL"><input type="submit" value="送信" /><input type="button" value="ファイル" onclick="localFile.click()" />
    <input name="localFile" type="file" accept="image/bmp,image/jpeg,image/png,image/gif" style="visibility: hidden;" onchange="demoForm.enctype = 'multipart/form-data'; demoForm.submit()">
}
  </div>
  <div class="demo-result-box">
@if (string.IsNullOrEmpty(Model.Result) == false) {
<pre class="demo-result">@Model.Result</pre>
} else {
<pre class="demo-result"></pre>
}
  </div>
</div>
