@model DigitAPI.Web.Models.HomeViewModel
@{
    ViewBag.Title = "Digit API";
}

@if (0 < Model.ScrollPosition) {
<script>
    window.addEventListener("load", function() {window.scrollTo(0, @Model.ScrollPosition);});
</script>
}
<div class="da-header">
    <p><img alt="ロゴ画像" src="~/Content/logo.png"></p>
    <p>Cognitive Services</p>
</div>
<div class="da-banner">
    <div class="da-banner-caption">
        <h1>Digit API</h1>
        <p>デモ</p>
        <p>顔を解析してどの数字に似ているかを検出しますが、特になんの役にも立ちません。</p>
    </div>
</div>
<div class="da-link-band">
    <p class="da-link-button" onclick="window.open('/APIReference.html', '_blank')">API Reference</p>
</div>
<div class="da-description">
    <h2>画像がどの数字に似ているかを判定します</h2>
    <p>
        Digit APIは画像（顔の画像を含みます）を入力とし、
        どの数字に近いかの確度を返します。
    </p>
    <ul>
        <li>このサービスはCNTKの勉強がてら試みに動かしているものです。</li>
        <li>このサービスはそのうち止めます。（アドベントカレンダーの期間中くらいは動かすつもりですが）</li>
        <li>オートスケールしていないので、アクセスがたくさんあるとパンクするかもしれません。</li>
        <li>アップロードした画像は保存していません。</li>
        <li>評価結果はログをとります。</li>
    </ul>
    <p>
        下のテキストボックスに判定したい画像のURLを入れて「送信」ボタンを押すか、
        「ファイル」ボタンを押してローカルファイルをアップロードしてください。
    </p>
</div>
<div class="da-demo">
    <div class="da-demo-image-box">
        <div id="demoImagePane" class="da-demo-image-pane">
        @if (string.IsNullOrEmpty(Model.ImageUrl) == false) {
            <img class="da-demo-image" title="@Model.ImageText" src="@Model.ImageUrl" alt="APIに入力した画像" />
        }
        </div>
        <div class="da-demo-form">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "demoForm" })) {
                <span>Image URL: </span><input name="requestUrl" type="text" data-defultvalue="Image URL"><input type="button" value="送信" onclick="scrollPosition.value = document.body.scrollTop; imageWidth.value = demoImagePane.clientWidth; demoForm.submit()" /><input type="button" value="ファイル" onclick="localFile.click()" />
                <input name="localFile" type="file" accept="image/bmp,image/jpeg,image/png,image/gif" style="visibility: hidden;" onchange="demoForm.enctype = 'multipart/form-data'; scrollPosition.value = document.body.scrollTop; imageWidth.value = demoImagePane.clientWidth; demoForm.submit()">
                <input name="imageWidth" type="hidden" value="0" /><input name="scrollPosition" type="hidden" value="0" />
            }
        </div>
    </div>
    <div class="da-demo-result-box">
        <pre class="da-demo-result">@Model.Result</pre>
    </div>
</div>
